$main-colour: darkgreen;
$secondary-colour: #666;
$tertiary-colour: #DDD;
* {
  position: relative;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

p, h2,h3,h4,h5,h6,ul{
  margin:10px 0;
}

h1 {
  color:$main-colour;
  font-family: 'Roboto Slab';
  font-weight: 400;
  letter-spacing: 1px;
  margin: 10px;
  font-size: 2.5em;
}

h2, h2 a {
  color:#fff;
  background-color: #444;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  .sidebar & {
    background: none;
    padding: 0;
    margin: 0 0 10px 0;
    color: $main-colour;
  }
}
.contact {
  margin-bottom: 20px;
  font-size: .9em;
}


.social-icons {
  font-size: 1.5em;
  margin-left: 10px;
}

h4 {
  margin-bottom: 0;
}
h5 {
  margin-top: 0;
  margin-left: 10px;
  color:$secondary-colour;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0; 
    width: 80%
}

body, html{
  min-height:100%;
  height:100%;
  color:#444;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font: 300 18px/1.5 Open Sans, sans-serif;
  letter-spacing: 0.01rem;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering: optimizeLegibility;
  margin:0;
}
a:active,a:hover,a:focus {
  outline:0;
}
.cf:before,.cf:after {
  content:" ";
  display:table;
}
.cf:after {
  clear: both;
}

/*

Grid

*/

.row:after {
  content:"";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.bottom {
  margin-bottom:0;
}
[class*=span-] {
  display:block;
  float:left;
  width:100%;
  margin-left:2%;
}
[class*=span-]:first-child {
  margin-left:0;
}
[class*=span-] img {
  max-width:100%;
  display: block;
}

/* Columns */

.span-1 { width:6.5%; }
.span-2 { width:15.0%; }
.span-3 { width:23.5%; }
.span-4 { width:32.0%; }
.span-5 { width:40.5%; }
.span-6 { width:49.0%; }
.span-7 { width:57.5%; }
.span-8 { width:66.0%; }
.span-9 { width:73%; margin-right:1.5%; }
.span-10 { width:83.0%; }
.span-11 { width:91.5%; }
.span-12 { width:100%; }

/* Offsets */

.offset-1 { margin-left:6.5%; }
.offset-2 { margin-left:17.0%; }
.offset-3 { margin-left:25.5%; }
.offset-4 { margin-left:34.0%; }
.offset-5 { margin-left:42.5%; }
.offset-6 { margin-left:51.0%; }
.offset-7 { margin-left:59.5%; }
.offset-8 { margin-left:68.0%; }
.offset-9 { margin-left:76.5%; }
.offset-10 { margin-left:85.0%; }
.offset-11 { margin-left:93.5%; }

@media only screen and (max-width:990px) {
  .row {
    margin:0;
  }
  [class*=span-] {
    width:100%;
    margin-bottom: 2%;
    margin-left:0;
  }
  [class*=offset-] {
    margin-left: 0;
  }
}

.container{
  max-width:1280px;
  margin:0 auto;
  padding:20px;
}

.menu{
  float:right;
  li{
    width:100px;
    position:relative;
    float:left;
    a{
      display:block;
    }
    &:hover > ul{
      display:block;
    }
  }
  li ul{
    display:none;
  }
}
header {
  ul{
    margin:0;
    padding:0;
  }
  li{
    display:inline-block;
    margin-left:0;
    margin-right:10px;
  }
}
footer{
  min-height:100px;
}
input{
  border:1px solid #DDD;
  border-radius:4px;
  padding:10px 20px;
  font-size: 1.25em;
  color:#444;
  &[type=text]{
    width:100%;
    margin:10px 0;
    &:focus{
      outline:1px solid $main-colour;
      border-radius:4px;
    }
  }
  &[type="checkbox"]{
    cursor:pointer;
  }
}

select{
  border:1px solid #DDD;
  border-radius:4px;
  height:40px;
  width:100%;
  margin-bottom:10px;
}
textarea{
  border:1px solid #DDD;
  border-radius:4px;
  padding:10px 20px;
  font-size:1.25em;
  width:100%;
  max-width:100%;
  min-height:150px;
}
button, select,textarea{
  outline:0;
  &:focus{
    outline:1px solid $main-colour;
    border-radius:4px;
  }
}
table{
  width:100%;
}

.text-left{
  text-align:left;
}
.text-centre{
  text-align:center;
}
.text-right{
  text-align:right;
}
.confirm{
  button{
    margin:0 10px;
  }
}

th{
  text-align:left;
  font-weight:400;
  font-size:1.25em;
  padding:7px 0;
}

td{
  padding:7px 10px;

  &:last-child{
    text-align:right;
  }

  &:first-child{
    text-align:left;
  }

  a{
    display:block;
  }
}
th{
  &:last-child{
    text-align:right;
  }
  &:first-child{
    padding-left:10px;
    text-align:left;
  }
}
tr:nth-child(even){
  background-color:#e1e1e1;
}

a{
  text-decoration:none;
  color:darkgreen;
  transition:0.3s;
  font-weight:400;
}

a:hover{
  color:lightseagreen;
}

button{
  font-size:1.25em;
  padding:10px 20px;
  background-color: #DDD;
  margin:10px 0;
  border:1px solid #333;
  cursor:pointer;
  border-radius:4px;
  &:hover{
    background-color:#CCC;
  }
}

.small{
  font-size:0.7em;
  color: $secondary-colour;
  margin-left:15px;
}

.jobs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.jobs li {
  margin-bottom: 10px;
  list-style-type: none;
  line-height: 1.3;
  padding-left: 1em; 
  text-indent: -.7em;
  &:before {
    content: "• ";
    color: $secondary-colour; /* or whatever color you prefer */
  }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.right {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
@media only screen and (max-width:768px) {

  ul, li{
    margin-left:-10px;
  }
  li{

  }
}
