<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/styles/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="overlay"></div>
  <div class="container cf">
    <header>
      <div class="row">
        <div class="span-12">
          <h1>{{data.name}}</h1>
        </div>
      </div>
    </header>
    {{{body}}}
    <footer>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
    {{{_sections.script}}}
    <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Roboto+Condensed:400,700:latin', 'Open+Sans:300,400:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); 
  </script>
  <script>
    // Asynchronously load non-critical css 
    function loadCSS(e, t, n) { "use strict"; var i = window.document.createElement("link"); var o = t || window.document.getElementsByTagName("script")[0]; i.rel = "stylesheet"; i.href = e; i.media = "only x"; o.parentNode.insertBefore(i, o); setTimeout(function () { i.media = n || "all" }) }
    // load css file async
    loadCSS("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
  </script>
  </div>
</body>
</html>