<div class="row">
  <div class="span-9">
    <div class="intro">
      <h2>Introduction
        <a href="#" title="toggle" class="chevron">
          <i class="fa fa-chevron-up right"></i>
          <span class="sr-only">toggle</span>
        </a>
      </h2>
      <div class="inner-wrapper">
        <div class="row">
          <div class="span-12">
            {{{data.intro}}}
          </div>
        </div>
      </div>
    </div>
    <div class="jobs">
      <h2>
        Employment
        <a href="#" title="toggle" class="chevron">
          <i class="fa fa-chevron-up right"></i>
          <span class="sr-only">toggle</span>
        </a>
      </h2>
      
      <div class="inner-wrapper">
        {{#each data.jobs}}
          <div class="row">
            <div class="span-12">
              <h3>{{company}} - {{title}} <span class="small">{{start}} - {{end}}</span></h3>
              <ul>
                {{#each duties}}
                  <li>{{duty}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="skills">
      <h2>Skills
        <a href="#" title="toggle" class="chevron">
          <i class="fa fa-chevron-up right"></i>
          <span class="sr-only">toggle</span>
        </a>
      </h2>
      <div class="inner-wrapper">
        <div class="row">
          <div class="span-12">
            <div class="row">
              {{#each data.skills}}
              <div class="span-4">
                <h3>{{category}}</h3>
                <ul>
                  {{#each list}}
                    <li>{{skill}}</li>
                  {{/each}}
                </ul>
              </div>
              {{/each}}
            </div>
            
              <p>* denotes a skill I have a working knowledge of but do not profess to be proficient in it's use yet</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span-3 sidebar">
    <div class="contact">
      <p>
        {{data.add1}}<br>
        {{#if data.add2}}{{data.add2}}<br>{{/if}}
        {{data.city}} {{data.prov}}  {{data.postal}}<br>
        <a href="mailto:{{data.email}}">{{data.email}}</a><br>
        <a href="tel:{{data.tel}}">{{data.phone}}</a><br>
        <a href="{{data.website}}" target="_blank" title="{{data.website}}">Website</a>
      </p>
      {{#each data.social}}
        <a href="{{url}}" style="color:{{colour}}" target="_blank" title="{{site}}" class="social-icons">
          <i class="fa {{icon}}"></i>
          <span class="sr-only">Link to {{site}}</span>
        </a>
      {{/each}}
    </div>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">
// $(document).ready(function(){alert("hi")})
  $(".chevron").on("click", function(e){
    e.preventDefault();
    $(this).parent().next().slideToggle();
    if( $(this).children().hasClass( "fa-chevron-up" )){
      $(this).children().removeClass( "fa-chevron-up").addClass("fa-chevron-down");
    } else {
      $(this).children().removeClass( "fa-chevron-down").addClass("fa-chevron-up");
    }
  });
</script>
{{/section}}